.note{
    color: black;
    font-size: 16px;
}
.heading{
    color: white;
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
}
.div_speed{
    float:left;
}
body{
    background-size: cover;
}
.play_button{
    width: 130px;
    font-size: 25px;
}
canvas{
    border:5px solid black;
    border-radius:20px;
}